jdk: oraclejdk8
language: android
sudo: false

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28
    - extra-google-m2repository

before_install:
  - nvm install 8
  - node --version
  - curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
  - echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq --no-install-recommends yarn

install:
  - cd Example
  - yarn

script:
  - cd android && ./gradlew assembleRelease
